You need to make a dimmer switch class.
A dimmer switch has an on/off switch, but it also has a multiposition slider that affects the brightness of the light.

The slider can move through a range of brightness values. To make things straightforward, this dimmer digital slider has 11 positions, from 0 (completely off) through 10 (completely on). To raise or lower the brightness of the bulb to the maximum extent, you must move the slider through every possible setting.

This DimmerSwitch class has more functionality than a simple LightSwitch class and needs to remember more data:

Requirements:

The switch must be able to be either on or off (state)
It must store the Brightness level as a value from 0 to 10.
Users cannot introduce the Brightness value manually, since it must be always between 0 and 10.
If a user must be able to raise or lower the value of the Brightness, then, the raised or lowered value must be stored and remembered.
The developed DimmerSwitch class must allow for debugging it with a method for showing in the terinal:
                                                        "is Switch on?" + the_value 
                                                        "Brightness is:" + the_value

